nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: white;
}
.logo {
  font-size: 1.5rem;
}
.link {
  margin-right: 3rem;
  padding-bottom: 0.3rem;
}
.create-link {
  padding-bottom: 0.3rem;
}
.link:hover,
.create-link:hover {
  border-bottom: 1px solid white;
}

nav a {
  text-decoration: none;
  color: white;
}
.Nav-section {
  background-color: #8800ff;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  line-height: 2;
  padding: 3rem;
}
.create {
  background-color: #550a979a;
  color: white;
  text-decoration: none;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  color: #ffff00;
}
.create:hover {
  opacity: 0.9;
}
