.post-section {
  padding: 1rem 3rem;
  background-color: #ececec;
}
.header {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  margin-top: 15px;
}
.post-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media only screen and (max-width: 834px) {
  .post-section {
    padding: 1rem 1rem;
  }
  nav {
    padding: 1rem;
  }
}
@media only screen and (max-width: 686px) {
  html {
    font-size: 80%;
  }
  .post-list {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 414px) {
  .hero {
    padding: 1.5rem 1rem;
  }
  .post-container {
    padding: 1rem !important;
  }
  .single-post {
    margin: 0 !important;
  }
  .delete,
  .edit {
    padding: 0.3rem !important;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -14px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: .4rem; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 14px;
  /* @apply rounded-md overflow-hidden */
}

.no-posts{
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  color: gray;
}

